body{
    margin:0;
    background-image: url("images/space.png");
    background-repeat: no-repeat;
    background-size: cover;


}
#under-line {
    height: 4px;
    background-color: blueviolet;
    position: absolute;
    text-align: center;
    width: 60px;
    left: calc(50% - 30px); /* 中央に配置 */
    top: 55px;
}

.dark-mode .container{
    background-color: #333; /* 背景色をダークに設定 */
    color: #fff; /* テキストカラーを白色に設定 */
    background-color: rgb(46, 45, 45);
    font-size: 16px;
    border-radius: 3px;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    padding: 16px;
}
.light-mode .container{
    color:   #333;/* テキストカラーを白色に設定 */
    background-color: #fff;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: rgb(248, 248, 248);
    color: #000000;
    min-height: 100vh;
    padding: 16px;
}

.title{
    margin-top: 16px;
    text-align: center;
}
.task-area{
    text-align: center;
    font-size: 30px;
    border: 1px solid lightgrey;
    margin-top: 2em;
}

.task {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
.task_done{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-decoration: line-through;
    margin-bottom: 10px;
}
.task_text{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 10px;

}
.image{ width: 70px;
}
.taskzoon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
}
.task-tabs{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid lightgrey;
    position: relative;
    text-align: center;
    padding: auto;
    height: 100px;
}
.task-tabs div{
    cursor: pointer;
    margin: 10px 10px;
    padding: 15px;
}

#under-line{
    height: 4px;
    background-color: blueviolet;
    position: absolute;
    width:150px;
    left: 0px;
    top: 84px;
    padding: 0px;

}

.dark-mode {
    text-align: right;
}
#toggle-dark-mode {
    position: absolute;
    top: 1em; /* Adjust the top position as needed */
    right: 8em; /* Align to the right side with some space */
}

.input-area{
    text-align: center;
}
#toggle-dark-mode img {
    width: 30px; /* Set the width of the dark mode toggle button */
    height: auto; /* Automatically adjust the height */
    border-radius: 50%; /* Display as a circle */
    display: flex;
    justify-content: center;
    align-items: center;
}
.sun{
    width: 30px; /* 幅を指定 */
    height: auto; /* 高さは自動調整 */
    background-color: #fff;
    border-radius: 50%; /* 円形に表示 */
}
@media only screen and (max-width: 468px) {
    /* Adjust styles for medium-sized smartphones */
    .image{ width: 50px;
    }
  
    .container {
        width: 80%;
        font-size: 16px; /* Increase font size for better readability */
    }

    .title {
        font-size: 24px; /* Enlarge title font size for emphasis */
        margin-top: 15px; /* Adjust margin for better spacing */
    }

    .task-area {
        font-size: 16px; /* Increase font size for task area */
        margin-top: 1.5em; /* Adjust margin for better spacing */
    }

    .button-area button {
        margin: 0.7em; /* Update button margin for a slightly larger touch area */
    }

    .button-area button {
        margin:1em;
    }
    #toggle-dark-mode {
        position: absolute;
        top: 1em; /* Adjust the top position as needed */
        right:4em; /* Align to the right side with some space */
    }
    
    .input-area{
        text-align: center;
    }
    .task-tabs{
        display: flex;
        border-bottom: 1px solid lightgrey;
        position: relative;
    }
    .task-tabs div{
        padding:1em;
    }
}

