body{
    margin:0;
    background-image: url("images/space.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#under-line {
    height: 4px;
    background-color: rgb(73, 73, 73);
    position: absolute;
    text-align: center;
    width: 75vw;
    top: 65px;
}
.dark-mode #under-line {
    height: 4px;
    background-color: rgb(229, 229, 229);
    position: absolute;
    text-align: center;
    width: 90vw;
    top: 65px;
}
.dark-mode .image_delete {
        filter: invert(100%);
        color: rgb(206, 255, 153);
    }


.dark-mode .container{
    background-color: #333; /* 背景色をダークに設定 */
    color: #fff; /* テキストカラーを白色に設定 */
    background-color: rgb(46, 45, 45);
    font-size: 16px;
    border-radius: 3px;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    padding: 16px;
}

.light-mode .container{
    color:   #333;/* テキストカラーを白色に設定 */
    background-color: #fff;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: rgb(248, 248, 248);
    color: #000000;
    min-height: 100vh;
    padding: 16px;
}
@keyframes scaleTitle {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  
  .animateTitle {
    animation: scaleTitle 0.5s;
  }


.slide-in-animation {
    animation: slideIn 0.5s forwards;
}

.title{
    margin-top: 16px;
    text-align: center;
}
.task-area{
    text-align: center;
    font-size: 30px;
    border: 1px solid lightgrey;
    margin-top: 2em;
}

.task {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
.task_done{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-decoration: line-through;
    margin-bottom: 10px;
}
.task_text{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 10px;

}
.image{ 
    width: 70px;
}
.image_delete{
    width: 70px;
}
.taskzoon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
}
.underline {
    transition: all 0.5s;
}
.task-tabs{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid lightgrey;
    position: relative;
    text-align: center;
    padding: 10px;
}
.task-tabs div{
    cursor: pointer;
    width: 300px;
}



.dark-mode {
    text-align: right;
}
#toggle-dark-mode {
    position: absolute;
    top: 1em; /* Adjust the top position as needed */
    right: 8em; /* Align to the right side with some space */
}

.input-area{
    text-align: center;
}
#toggle-dark-mode img {
    width: 30px; /* Set the width of the dark mode toggle button */
    height: auto; /* Automatically adjust the height */
    border-radius: 50%; /* Display as a circle */
    display: flex;
    justify-content: center;
    align-items: center;
}
.sun{
    width: 30px; /* 幅を指定 */
    height: auto; /* 高さは自動調整 */
    background-color: #fff;
    border-radius: 50%; /* 円形に表示 */
}
@media only screen and (max-width: 468px) {
    /* Adjust styles for medium-sized smartphones */
    .image .image_delete{ width: 50px;
    }
    .container {
        width: 80%;
        font-size: 16px; /* Increase font size for better readability */
    }
    #under-line {
        width: 73vw; /* Adjust the width of under-line */
       top:43px;
    }
    
    .title {
        font-size: 24px; /* Enlarge title font size for emphasis */
        margin-top: 15px; /* Adjust margin for better spacing */
    }

    .task-area {
        font-size: 16px; /* Increase font size for task area */
        margin-top: 1.5em; /* Adjust margin for better spacing */
    }

    .button-area button {
        margin: 0.7em; /* Update button margin for a slightly larger touch area */
    }

    .button-area button {
        margin:1em;
    }
    #toggle-dark-mode {
        position: absolute;
        top: 1em; /* Adjust the top position as needed */
        right:4em; /* Align to the right side with some space */
    }
    
    .input-area{
        text-align: center;
    }
}

